<section class="event {{ include.color }}" id="event-{{ include.index }}">
    <div class="data" onclick="itemClick('event-{{ include.index }}')">
        <div class="icon"><span class="material-icons-round">{{ include.icon }}</span></div>
        <h1 class="title">{{ include.title }}</h1>
        <div class="expandable"><span class="material-icons-round">expand_more</span></div>
        <h2 class="time">{{ include.time }}</h2>
    </div>
    <div class="content">
        {% if include.video %}
        <video class="video-profile" id="video-{{ include.video }}" muted onmouseover="playAnimation(this)" onended="resetAnimation(this)">
            <source src="assets/media/animations/{{ include.video }}.mp4" type="video/mp4">
            *Seu navegador não suporta vídeo*
        </video>
        {% endif %}
        {{ include.content | markdownify }}
    </div>
</section>