<section class="event {{ include.color }}" id="event-{{ include.index }}">
    <div class="icon"><span class="material-icons-round">{{ include.icon }}</span></div>
    <div class="data" onclick="itemClick('event-{{ include.index }}')">
        <h2 class="time">{{ include.time }}</h2>
        <div class="expandable"><span class="material-icons-round">expand_more</span></div>
        <h1 class="title">{{ include.title }}</h1>
    </div>
    <div class="content">{{ include.content | markdownify }}</div>
</section>