<footer>
  <div class="license">
    <h1>Licença</h1>
    <p xmlns:dct="https://purl.org/dc/terms/">
      <a rel="license"
        href="https://creativecommons.org/publicdomain/zero/1.0/">
        <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
      </a>
      <br />
      Na medida do possível por lei,
      <span rel="dct:publisher" resource="[_:publisher]">a pessoa que associou CC0</span>
      a esta obra renunciou a todos os direitos autorais e direitos relacionados ou conexos a esta obra.
    </p>
  </div>
  <div class="authors">
    <h1>Produzido por</h1>
    <ul>
      <li>Noemi Medeiros</li>
      <li>Felipe Matheus</li>
      <li>Anna Lys</li>
      <li>Arthur Henrique</li>
    </ul>
  </div>
  <div class="links">
    <h1>Links</h1>
    <ul>
      <a href="https://github.com/fittl3/cronologia-da-ciencia"><li>Veja o projeto no Github</li></a>
    </ul>
  </div>
</footer>